<div class="content-top">
  <form class="search" action="/merchants" method="get">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Submit">
  </form>
  <h2 class="h2-50">Merchants</h2>
  <p><a href="/merchants/new">Create New</a></p>
</div>

<div class="content-bottom">
  <h2>No Merchants!</h2>
  Add some merchants to start saving money.
</div>