<div class="content-top">
  <h2>Merchants</h2>
  <a href="/merchants/new">Create New</a>
</div>

<div class="content-bottom">
  <% @account.merchants.each do |merchant| %>
    <h2><%= merchant.name %></h2>
    <p><b>Total Expenditure</b>: £<%= @account.merchant_total( merchant.id ) %></p>
    <a href="/merchants/<%= merchant.id %>">View Transactions</a> 
    <a href="/merchants/<%= merchant.id %>/edit">Edit Merchant</a>

    <% if not merchant == @account.merchants.last %>
      <div class="content-spacer"></div>
    <% end %>
  <% end %>
</div>