<div class="content">

<h2>Merchants</h2>

<a href="/merchants/new">Add New</a>

<% @account.merchants.each do |merchant| %>

<p><b>Name</b>: <%= merchant.name %> <a href="/merchants/<%= merchant.id %>/edit">Edit</a></p>

<hr>

<% end %>


<br><br>
<a href="/">Back</a>

</div>