<div class="content-top">
  <h2><%= @merchant.name %></h2>
  <p><b>Total Transactions</b>: <%= @account.merchant_number( @merchant.id ) %>
  <b>Total by Merchant</b>: £<%= @account.merchant_total( @merchant.id ) %>
</div>

<div class="content-bottom">
  <h2>Oops!</h2>
  No results found.
</div>