<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <header>
      <div class="float-right">
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/transactions">Transactions</a>
        <a class="nav" href="/merchants">Merchants</a>
        <a class="nav" href="/tags">Tags</a>
        <a class="nav" href="/api/transactions">API</a>
      </div>
      <div class="float-left"><h1><a class="logo" href="/">MONEY CASHBOARD.</a></h1></div>
    </header>

    <%= yield %>

    <footer>Money Cashboard Ltd. &copy; 2016</footer>

  </body>
</html>