<div class="content-top">
  <form class="search" action="/tags" method="get">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Submit">
  </form>
  <h2 class="h2-50">Tags</h2>
  <p><a href="/tags/new">Create New</a></p>
</div>

<div class="content-bottom">
  <h2>No Tags!</h2>
  Add some tags to start saving money.
</div>