<div class="content">

<h2>Tags</h2>

<a href="/tags/new">Add New</a>

<% @account.tags.each do |tag| %>

<p><b>Name</b>: <%= tag.name %> <a href="/tags/<%= tag.id %>/edit">Edit</a></p>

<hr>

<% end %>


<br><br>
<a href="/">Back</a>

</div>