<div class="content">
  <h2>Create a New Transaction</h2>

  <form action="/transactions" method="post">
    <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" step="any" placeholder="0.00"><br><br>

    <label for="transaction_date">Date:</label>
      <input type="date" name="transaction_date" id="transaction_date" placeholder="01/01/2000"><br><br>

    <label for="merchant">Merchant:</label>
    <select id="merchant_id" name="merchant_id">
        <% @account.merchants.each do |merchant| %>
          <option value="<%= merchant.id %>">
            <%= merchant.name %>
          </option>
        <% end %>
    </select><br><br>

    <label for="tag">Tag:</label>
    <select id="tag_id" name="tag_id">
        <% @account.tags.each do |tag| %>
          <option value="<%= tag.id %>">
            <%= tag.name %>
          </option>
        <% end %>
    </select><br><br>

    <input type="submit" value="Submit">
    <a href="/transactions">Cancel</a>
  </form>
</div>